{% extends 'base.html.twig' %}

{% block title %}Rss Atom Bundle{% endblock %}

{% block body %}
<div class="container">
    <h1>RSS Atom Bundle ✅</h1>

    <p>RSS-atom-bundle Demo</p>

    <div class="row">
        {{ form_start(form) }}
            {{ form_label(form.url) }}
            {{ form_widget(form.url) }}
            {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
</div>
<hr />
<div class="container">

</div>
{% endblock %}
